<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="copy">

    <div class="copyright">
        <div class="container">
            <div class="col-md-6">
                <p>© 2017 - All Rights reserved</p>
            </div>
            <div class="col-md-6">
                <ul class="bottom_ul">
                    <li><a href="https://github.com/cickib"><i class="fa fa-github" aria-hidden="true"></i> GitHub
                        profile</a></li>
                    <li><a href="#">About the project</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>