<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="copy">

    <h1>SEARCH <span class="glyphicon glyphicon-search"></span></h1>
    <form class="form-horizontal" id="searchForm" name="searchForm" ng-submit="search(searchForm)">
        <div class="col-md-6">
            <div class="row">
                <div class="form-group">
                    <p>Rent:</p>
                    <label class="col-sm-2" for="rentFrom">From:</label>
                    <input class="col-sm-4" id="rentFrom" type="number" min="0" max="300" value="60"
                           ng-model="param.rentFrom">
                    <label class="col-sm-2" for="rentTo">To:</label>
                    <input class="col-sm-4" id="rentTo" type="number" min="0" max="300" value="120"
                           ng-model="param.rentTo">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="form-group">
                    <p>Size:</p>
                    <label class="col-sm-2" for="sizeFrom">From:</label>
                    <input class="col-sm-4" id="sizeFrom" type="number" min="0" max="200" value="28"
                           ng-model="param.sizeFrom">
                    <label class="col-sm-2" for="sizeTo">To:</label>
                    <input class="col-sm-4" id="sizeTo" type="number" min="0" max="200" value="45"
                           ng-model="param.sizeTo">
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">

                <div class="form-group">
                    <p>District:</p>
                    <input type="checkbox" id="dAll" name="district"> all</input>
                    <br>
                    <input type="checkbox" id="d1" name="district" ng-model="param.district._1"> I.</input>
                    <input type="checkbox" id="d2" name="district" ng-model="param.district.2"> II.</input>
                    <input type="checkbox" id="d3" name="district" ng-model="param.district.1"> III.</input>
                    <input type="checkbox" id="d4" name="district" ng-model="param.district.1"> IV.</input>
                    <input type="checkbox" id="d5" name="district" ng-model="param.district.1"> V.</input>
                    <input type="checkbox" id="d6" name="district" ng-model="param.district.1"> VI.</input>
                    <br>
                    <input type="checkbox" id="d7" name="district" ng-model="param.district.1"> VII.</input>
                    <input type="checkbox" id="d8" name="district" ng-model="param.district.1"> VIII.</input>
                    <input type="checkbox" id="d9" name="district" ng-model="param.district.1"> IX.</input>
                    <input type="checkbox" id="d10" name="district" ng-model="param.district.1"> X.</input>
                    <input type="checkbox" id="d11" name="district" ng-model="param.district.1"> XI.</input>
                    <input type="checkbox" id="d12" name="district" ng-model="param.district.1"> XII.</input>
                    <br>
                    <input type="checkbox" id="d13" name="district" ng-model="param.district.1"> XIII.</input>
                    <input type="checkbox" id="d14" name="district" ng-model="param.district.1"> XIV.</input>
                    <input type="checkbox" id="d15" name="district" ng-model="param.district.1"> XV.</input>
                    <input type="checkbox" id="d16" name="district" ng-model="param.district.1"> XVI.</input>
                    <input type="checkbox" id="d17" name="district" ng-model="param.district.1"> XVII.</input>
                    <input type="checkbox" id="d18" name="district" ng-model="param.district.1"> XVIII.</input>
                    <br>
                    <input type="checkbox" id="d19" name="district" ng-model="param.district.1"> XIX.</input>
                    <input type="checkbox" id="d20" name="district" ng-model="param.district.1"> XX.</input>
                    <input type="checkbox" id="d21" name="district" ng-model="param.district.1"> XI.</input>
                    <input type="checkbox" id="d22" name="district" ng-model="param.district.1"> XII.</input>
                    <input type="checkbox" id="d23" name="district" ng-model="param.district.1"> XIII.</input>
                </div>
                <div class="form-group">
                    <p>Sites:</p>
                    <input type="checkbox" name="site" id="sAll"> all</input>
                    <br>
                    <input type="checkbox" name="site" id="alberlethu" ng-model="param.site.alberlethu">
                    alberlet.hu</input>
                    <input type="checkbox" name="site" id="ingatlanrobot" ng-model="param.district.ingatlanrobot">
                    ingatlanrobot.hu</input>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block" id="searchBtn" ng-click="search()">SEARCH
        </button>
    </form>

</div>

</body>
</html>