<div class="container fluid main">
    <div class="row main">
        <div class="col-md-4"></div>
        <div class="col-md-4" ng-app="BpFF" ng-controller="RegisterCtrl">
            <form class="form-horizontal" id="registerForm" name="registerForm" ng-submit="register(registerForm)">
                <h3 class="form-signin-heading">REGISTER</h3>
                <br>
                <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus=""
                       ng-model="newUser.userName"/>
                <input type="password" class="form-control" name="password" placeholder="Password" required=""
                       ng-model="newUser.password"/>
                <input type="password" class="form-control" name="passwordAgain" placeholder="Confirm password"
                       required=""/>
                <button class="btn btn-lg btn-primary btn-block" name="SUBMIT" value="REGISTER" type="Submit">REGISTER
                </button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>