<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="lemmein">
<head>
    <meta charset="UTF-8">
    <title>DASHBOARD</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../css/footer.css"/>

</head>
<body>

<div class="container fluid main">
    <div class="row">
        DASHBOARD
        <br>
        <hr>
    </div>
</div>

<div class="copyright">
    <div class="container">
        <div class="col-md-6">
            <p>© 2017 - All Rights reserved</p>
        </div>
        <div class="col-md-6">
            <ul class="bottom_ul">
                <li><a href="//github.com/cickib"><i class="fa fa-github" aria-hidden="true"></i> GitHub
                    profile</a></li>
                <li><a href="#">About the project</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>