<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="lemmein">
<head>
    <meta charset="UTF-8">
    <title>DASHBOARD</title>

    <div th:replace="fragments/styles :: copy"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.1/angular-resource.min.js"></script>
    <script src="/js/controller/searchController.js"></script>

</head>
<body ng-controller="searchController">

<div th:replace="fragments/navbar :: copy"></div>

<div class="container fluid main">
    <div class="row">

        <div th:replace="fragments/search_bar :: copy"></div>

        <br>
        <hr>
    </div>
</div>
<div th:replace="fragments/footer :: copy"></div>
<div th:replace="fragments/scripts :: copy"></div>
</body>
</html>