<!doctype html>
<html ng-app="lemmein">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../css/footer.css"/>
</head>
<body>
    <h1>FLATS <i class="fa fa-building-o" aria-hidden="true"></i></h1>
    <div ng-controller="FlatController as flatList">
        <table class="table table-hover" name="flatsTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>SQUAREMETER</th>
                <th>RENT/MONTH</th>
                <th>DISTRICT</th>
                <th>ADDRESS</th>
                <th>URL</th>
                <th>COMPANY</th>
                <th>PRICE/M<sup>2</sup></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="flat in flatList.flats">
                <td>{{flat.id}}</td>
                <td>{{flat.squareMeter}}</td>
                <td>{{flat.rent}}</td>
                <td>{{flat.district}}</td>
                <td>{{flat.address}}</td>
                <td><a href="{{flat.adUrl}}">link to flat</a></td>
                <td>{{flat.company}}</td>
                <td>{{(flat.rent / flat.squareMeter) | number:0}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="../js/controller/flatCtrl.js"></script>
</body>
</html>