<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FlatProject</title>

    <div th:replace="fragments/styles :: copy"></div>

</head>
<body>

<div class="container fluid main">
    <div class="row main">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div th:replace="fragments/login :: copy"></div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<div th:replace="fragments/footer :: copy"></div>
<div th:replace="fragments/scripts :: copy"></div>

</body>
</html>
