<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FlatProject</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../css/footer.css"/>
</head>
<body>

<div class="container fluid main">
    <div class="row main">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form action="/login" method="post" name="Login_Form" class="form-signin">
                <br/>
                <i class="fa fa-building-o logo" aria-hidden="true"></i>
                <hr class="colorgraph">

                <h3 class="form-signin-heading">LEMMEIN</h3>
                <br/>

                <input type="text" class="form-control" name="username" placeholder="Username" required=""
                       autofocus=""/>
                <input type="password" class="form-control" name="password" placeholder="Password" required=""/>

                <button class="btn btn-lg btn-primary btn-block" name="SUBMIT" value="LOGIN" type="Submit">LOGIN
                </button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<div class="copyright">
    <div class="container">
        <div class="col-md-6">
            <p>© 2017 - All Rights reserved</p>
        </div>
        <div class="col-md-6">
            <ul class="bottom_ul">
                <li><a href="//github.com/cickib"><i class="fa fa-github" aria-hidden="true"></i> GitHub
                    profile</a></li>
                <li><a href="/about">About the project</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>
